*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    font-family: "Inter", sans-serif;
    background-image: url(background.png);
    border-color: #000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 25px;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(60, 60, 67, 0.3);
    overflow: hidden;
    border-radius: 40px;
}

.header{
    padding-top: 25px;
    text-align: center;
}

.avatar{
    width: 175px;
    height: 175px;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.profession{
    font-size: 1.25em;
    font-weight: Medium;
}

.main{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 70px;
}

.contacts{
    
}

.contacts h2{
    font-size: 2em;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.btn{
    width: 370px;
    height: 80px;
    padding: 20px 112px;
    background-color: rgba(60, 60, 67, 0.6);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.instagram {
    position: relative;
}

.instagram:hover::after {
    content: attr(data-hover);
    position: absolute;
    content: "Принадлежит компании Meta,\A признанной экстремистской и запрещённой на территории РФ";
    white-space: pre-line;
    width: 180px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.7em;
    z-index: 100;
    pointer-events: none;
}

.btn-text{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

/*Мобильная адаптация*/
@media (max-width: 480px){
    .container{
        max-width: 95%;
    }

    .name{
        font-size: 2.25em;
    }
    
    .profession{
        font-size: 1.15em;
    }

    .contacts h2{
        font-size: 1.75em;
    }

    .btn{
        width: 292px;
        height: 64px;
        padding: 16px 88px;
    }

    .btn-text{
        font-size: 1.5em;
    }

}
